<header>
    <i class="fas fa-dumbbell"></i>

    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blog">Blogs</a></li>
        <li><a href="/contactus">Contact us</a></li>
    </ul>
</header>
